html {
  touch-action: manipulation;
}
body,html {
  height: 100%;
  overflow: inherit;
}
body {
  color: $fontLightColor;
  background: $bgColor;
}

@mixin ellipsis($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.safe-area{
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.fixed-bottom{
	position: fixed;
	width: 100%;
	z-index: 10;
	left: 0;
	bottom: 0;
}