html {
  touch-action: manipulation;
}
body,
html {
  height: 100%;
  overflow: inherit;
}
body {
  color: $fontLightColor;
  background: $bgColor;
}
@keyframes scaleAnimation {
  0% {
    transform: translate(-50%, -50%) scale(4);
  }
  2.5% {
    transform: translate(-50%, -50%) scale(3);
  }
  5% {
    transform: translate(-50%, -50%) scale(2);
  }
  7.5% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@mixin ellipsis($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.safe-area {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0;
  bottom: 0;
}
